.navbar {
  padding-left: var(--home-pad);
  padding-right: var(--home-pad);
  .wrapper {
    padding-top: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    // justify-content: center;
    .logo {
      h1 {
        font-family: Anurati;
        pointer-events: none;
        font-size: 17px;
        color: black;
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;
      width: 100%;
      ul {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }
    .user {
      .auth {
        display: flex;
        gap: 10px;
        // display: none;
      }
    }
  }
}
